{% extends "base.html" %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>Notes</h1>
            <p>
                <a href="{% url 'create_note' %}">Create a new note</a>
            </p>
            {% if tasks.notes.all|length != 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in tasks.notes.all %}
                            <tr>
                                <td>{{ note.name }}</td>
                                <td>{{ note.detail }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no notes</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
